:host {
  z-index: 1000;
  background: #f9f9f9;
  display: flex;
  opacity: 0;
  width: calc(100% - 96px);
  height: 60px;
  padding: 32px 48px 16px;

  .logo-image {
    cursor: pointer;
    width: 60px;
    height: 60px;
  }

  .menu {
    display: flex;
    margin-left: auto;
    align-items: center;

    .menu-item {
      cursor: pointer;
      color: #3d3d3d;
      margin-right: 8px;
      font-family: "Bebas Neue";
      font-weight: 400;
      font-size: 1.6em;
      margin-right: 24px;
    }
  }

  .button {
    position: relative;
    text-decoration: none;
    line-height: 26px;
    height: 26px;
  }

  @media (hover: hover) {
    .button:hover > div {
      transform: scaleX(1);
    }
  }

  .button.active div {
    transform: scaleX(1);
    transform: scaleY(2);
  }

  .button div {
    width: 100%;
    height: 1px;
    background-color: #3d3d3d;
    position: absolute;
    bottom: 0;
    left: -1px;
    transform: scale(0);
    transform-origin: left center;
    transition: transform 0.3s ease;
    cursor: pointer;
  }
}
