<div
    [ngClass]="{ 'desktop-wrapper': isDesktop, 'mobile-wrapper': !isDesktop }"
    [attr.id]="isDesktop ? '' : 'about-mobile-wrapper'"
    (touchstart)="touchstart($event)"
    (touchmove)="touchmove($event)"
    (mousewheel)="mousewheel($event)"
>
    <div>
        <div class="about-text">
            Моя дружба с фотографией началась более 10 лет назад. Репортажной и портретной съемкой занимаюсь с 2016
            года. В моем объективе побывали события разного масштаба: от уютных детских и семейных праздников до крупных
            концертов и фестивалей.
        </div>
        <div class="about-text">
            В репортажной съемке я стараюсь сложить из мимолетных эмоций и самобытных деталей живую, запоминающуюся
            историю, которую вы будете с интересом смотреть спустя много лет.
        </div>
        <div class="about-text">
            В портретах больше всего ценю простоту и естественность, поэтому стараюсь избегать вычурных декораций (но
            если вы сильно попросите, я обещаю попробовать).
        </div>
        <div class="about-text">
            Если вы планируете большое мероприятие и хотите быть уверены в результате, мы можем встретиться заранее и
            обсудить подробности съемки. Это бесплатно и ни к чему вас не обязывает. По любым вопросам о предстоящей
            съемке вы можете мне написать или позвонить.
        </div>
    </div>
    <div class="about-image">
        <img src="assets/galery/portrait.jpg" alt="Это я" />
    </div>
</div>
