<div
    [ngClass]="{ 'desktop-wrapper': isDesktop, 'mobile-wrapper': !isDesktop }"
    [attr.id]="isDesktop ? '' : 'prices-mobile-wrapper'"
    (touchstart)="touchstart($event)"
    (touchmove)="touchmove($event)"
    (mousewheel)="mousewheel($event)"
>
    <div class="prices-flex">
        <div class="prices-text">
            <span class="subheader">Репортажная съемка</span>
            Первые 3 часа съемки — 2500 ₽ в час, начиная с 4 часа — 2000 ₽ в час. Стоимость включает отбор и обработку
            фотографий: коррекцию тона, цвета, контраста и базовую ретушь крупных и средних портретов. В среднем за один
            час получается 50-70 обработанных фотографий.
        </div>
        <div class="prices-text">
            <span class="subheader"> Портретная съемка</span>
            Один час съемки стоит 2500 ₽. За каждый час вы получите 8-10 фотографий с журнальной ретушью и примерно 20
            снимков в базовой ретуши. Вместе с вами мы продумаем образ, локацию, позы.
        </div>
    </div>
    <div class="prices-text">
        По вашей просьбе могу обработать и передать 2-3 самые яркие фотографии сразу после съемки или на следующий день.
        В зависимости от объема и загрузки на подготовку репортажных фотографий обычно уходит от 2 дней до месяца,
        портретных — до 2 недель. Готовые фотографии будут доступны по ссылке в двух разрешениях: в среднем — для
        социальных сетей и в максимальном — для печати. Я храню фотографии у себя в течение одного года даже, если вы их
        скачали.
    </div>
    <div class="prices-text">
        Оплата съемок продолжительностью до двух часов происходит в день съемки. Оплата съемок более двух часов: 50% — в
        день съемки, 50% — по факту готовности всех фотографий.
    </div>
</div>
