:host {
    z-index: 100;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &.mobile {
        height: 100%;
    }

    .galery {
        margin: 0 12px;
        width: 100%;
        max-height: calc(100% - 80px);
        margin-top: 40px;
        overflow: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 460px;
        .galery-item {
            float: left;
            width: calc(100% / 3 - 6px);
            height: 100px;
            background-size: cover;
            background-repeat: no-repeat;
            margin: 3px;
            background-position: center;
        }

        @media screen and (max-width: 767px) {
            .galery-item {
                height: 100px;
            }
        }

        @media screen and (min-width: 768px) {
            .galery-item {
                height: 140px;
            }
        }
    }

    #galery-item-5 {
        background-position: 0 -12px;
    }
    #galery-item-11,
    #galery-item-16 {
        background-position: 0 -20px;
    }
    #galery-item-29 {
        background-position: 0px -14px;
    }
}
