:host {
    z-index: 100;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    &.mobile {
        height: 100%;
    }
    &.desktop {
        min-height: 840px;
    }
}

@media screen and (min-width: 1023px) {
    .home {
        max-width: 960px;
        margin: auto;
    }
}

.home {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .max {
        color: #3d3d3d;
        font-size: 40px;
        line-height: 2.2em;
        font-family: "Bebas Neue";
        font-weight: 600;
        opacity: 0;
    }

    .profession {
        color: #3d3d3d;
        font-size: 24px;
        font-family: "Circle";
        font-weight: 400;
        letter-spacing: 1px;
        opacity: 0;
    }
}
