:host {
    z-index: 100;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &.mobile {
        height: 100%;
    }
    &.desktop {
        min-height: 840px;
    }
    .galery-wrapper {
        margin-top: 32px;
        display: flex;
        overflow: hidden;
        padding: 0 32px;
        max-height: 460px;
        padding-bottom: 32px;

        .galery-item {
            cursor: pointer;
        }

        .galery-item:last-child {
            padding-right: 32px;
        }
    }

    &.mobile {
        .galery-item {
            max-width: calc(100vw - 48px);
            margin-left: 32px;
            cursor: pointer;
        }
    }
    &.desktop {
        .galery-item {
            max-height: 460px;
            max-width: 100%;
            margin-left: 32px;
            cursor: pointer;
        }
    }
}
